<div class="footer">
  <div class="left-container">
    <img class="logo" src="../../../assets/logo.png">
    <p class="content">
    The customer is at the heart of our unique business model, which includes design.
  </p>
  </div>
  <div class="right-container">
    <div class="social-media">
    <i class="icons pi pi-facebook"></i>
    <i class="icons pi pi-instagram"></i>
  </div>
  <div class="phone">
    <i class="icons pi pi-phone"></i>
    <a class="phone-number">: 0123456789</a>
  </div>
  </div>
</div>
