<nav class="header">
  <div class="header__left">
    <img class="logo" src="../../../assets/logo.png">
  </div>
  <div class="header__center actions">
    <ng-container *ngFor="let navItem of navItems">
      <button routerLinkActive="nav-activated" [routerLink]="navItem.routerLink" pButton
        class="p-button-text nav-item">{{navItem.label}}</button>
    </ng-container>
  </div>
  <div class="header__right">
    <i pButton routerLink="/cart" class="p-button-text p-button-rounded" routerLinkActive="cart-activated"
      icon="pi pi-shopping-cart icon"></i>
    <button type="button" class="p-button-text p-button-rounded" [label]="userName" pButton icon="pi pi-user"
      (click)="menu.toggle($event)"></button>
    <p-menu class="user-menu" #menu [popup]="true" [model]="menuItems"></p-menu>
  </div>
</nav>
<p-dialog [closable]="true" [closeOnEscape]="true" [header]="displayRegisterPopup? 'Register' : 'Login'" [(visible)]="displayRegisterPopup || displayLoginPopup"
  [style]="{width: '35  vw'}">
  <form *ngIf="userForm" [formGroup]="userForm" (submit)="onSubmitForm()" class="form-container">
    <div class="wrapper">
      <div class="form-item">
        <h4 class="label">
          Username
        </h4>
        <input formControlName="username" pInputText class="input">
      </div>
      <div class="form-item">
        <h4 class="label">
          Password
        </h4>
        <input  formControlName="password" pInputText type="password" class="input">
      </div>
      <ng-container *ngIf="displayRegisterPopup">
        <div class="form-item">
          <h4 class="label">
            Full name
          </h4>
          <input  formControlName="fullName" pInputText type="text" class="input">
        </div>
        <div class="form-item">
          <h4 class="label">
            Gmail
          </h4>
          <input  formControlName="gmail" pInputText type="text" class="input">
        </div>
      </ng-container>
      <div class="form-item">
        <p class="error-message">{{errorMessage}}</p>
      </div>
      <div *ngIf="!displayRegisterPopup" class="form-item">
        <div class="wrapper">
          <div class="check-remember">
        <p-checkbox [value]="isRemember" [(ngModel)]="isRemember" [ngModelOptions]="{standalone: true}" inputId="remember"></p-checkbox>
        <label for="remember">Remember me</label>
      </div>
        <h6>
          If you don't have account, <span class="link-register" (click)="openRegisterPopup()">Create new one</span>
        </h6>
      </div>
    </div>
      <div *ngIf="displayRegisterPopup" class="form-item">
        <h6>
          If you already have account, <span class="link-register" (click)="openLoginPopup()">Log in</span>
        </h6>
      </div>
      <div class="submit-item">
        <button [disabled]="!userForm.valid" class="submit-button" type="submit" pButton [label]="displayLoginPopup? 'Login': 'Register'"></button>
        <button class="close-button" pButton (click)="displayRegisterPopup = false; displayLoginPopup = false;" label="Close"></button>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog [closable]="true" [closeOnEscape]="true" header="OTP Verify" *ngIf="displayOtpPopup" [(visible)]="displayOtpPopup"
  [style]="{width: '35  vw'}">
  Please input your OTP which you received by your email
  <form *ngIf="otpForm" [formGroup]="otpForm" (submit)="onSubmitVerifyOtp()" class="form-container">
    <input formControlName="otp" pInputText class="input">
    <div class="submit-item">
      <button [disabled]="!otpForm.valid" class="submit-button" type="submit" pButton label="Submit"></button>
    </div>
  </form>
  <p class="error-message">{{otpErrorMessage}}</p>
</p-dialog>
<p-toast></p-toast>
