.nav-activated {
  background-color: var(--primary-color);
  color: black;
}
.nav-item {
  margin-left: 10px;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    height: 30px;
  }
  &__right {
    .icon {
      margin-left: 20px;
    }
  }
}
:host::ng-deep {
  .cart-activated {
    background-color: var(--primary-color);
    .pi {
      color: var(--primary-color-text);
    }
  }
  .header__right {
    .p-splitbutton {
    }
    .user-menu {
    }
  }
  .submit-item{
    display: flex;
    justify-content: flex-end;
    .close-button{
      margin-left: 15px;
      background: var(--primary-color-text);
      .p-button-label{
      color: #fff !important;
      }
    }
    .p-button-label{
      color: var(--primary-color-text) !important;
    }
  }
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper {
    width: 90%;
    .form-item {
      display: flex;
      align-items: center;
      margin: 15px;
      .link-register{
        text-decoration: underline;
        color: var(--primary-color);
        cursor: pointer;
      }
      .label {
        margin-right: 10px;
        width: 30%;
      }
      .input {
        width: 70%;
      }
    }
  }
}
