.detail-card{
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  .left-container{
    margin-right: 15px;
    width: 500px;
  }
  .right-container{
    margin-left: 15px;
    .error{
      color: red !important;
    }
    .label{
      color: var(--primary-color);
      font-size: 32px;
    }
    .right-item{
      margin-bottom: 20px;
    }
    .size-item{
      margin-left: 30px;
    }
    .price{
      font-size: 24px;
      color: var(--primary-color);
    }
    .size-total-item{
      color: var(--primary-color);
      font-size: 24px;
    }
    .category{
      font-size: 24px;
      color: var(--primary-color);
    }
    .add-to-cart{
      text-align: center;
    }
  }
}

:host::ng-deep{
  .pi{
    color: var(--text-secondary-color);
    margin-right: 15px;
  }

  .p-image-preview-container>img {
    width: 100%;
    object-fit: cover;
  }
}
