<div class="cart-item">
  <div class="container">
    <div class="left-container">
      <div class="image"[ngStyle]="{background:'url('+ item.imageLink +')','background-size': 'cover','background-position':'center'}" >
      </div>
    </div>
    <div class="right-container">
      <a [routerLink]="'/detail-item/'+item.productId" class="label">{{item.productName}}</a>
      <!-- <p class="right-item">Category: <a class="category inf" href="#">{{item.categoryLabel}}</a></p> -->
      <p class="right-item">Price: <span class="price inf">${{item.productPrice || item.price}}</span></p>
      <p class="right-item">Size: <span class="size inf">{{item.size}}</span></p>
      <p class="right-item">Quantity: <span class="size inf">{{item.quantity}}</span></p>
    </div>
  </div>
  <div class="actions">
    <div class="list-btn">
      <button *ngIf="isEdit" pButton class="p-button-rounded p-button-outlined remove-button" icon="pi pi-times"
        (click)=removeItem(item)></button>
    </div>
    <div class="total-price">
      <h3>Total price: <span class="total-price-inf">${{item.quantity * item.productPrice || item.quantity *
          item.price}}</span> </h3>
    </div>
  </div>
  <!-- </div> -->
