<div class="container">
  <div class="banner">
    <h2 class="banner-title">Shop</h2>
  </div>
  <div class="content-container">
    <div class="left-container">
      <div class="side-bar">
        <div class="search-input side-bar-item">
          <input [(ngModel)]="searchContent" pInputText placeholder="Input product name" /><span (click)="findByName()"
            class="pi pi-search"
          ></span>
        </div>
      </div>
      <div class="categories side-bar-item">
        <div class="label">
          <h3>Categories</h3>
          <a routerLink="/shop" class="item-link">Show all</a>
        </div>
        <div class="list-category">
          <div
            routerLinkActive="category-activated"
            *ngFor="let category of categories"
            class="category-item"
          >
            <a
              [routerLink]="'/shop/category/' + category"
              class="item-link"
              >{{ category }}</a
            >
          </div>
        </div>
      </div>
      <div class="size side-bar-item">
        <h3>Size</h3>
        <div class="list-size">
          <div *ngFor="let size of listOfSize" class="size-item">
            <a pButton (click)="filterBySize(size)" class="">{{ size }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="list-item">
        <ng-container *ngFor="let item of filteredProducts">
          <app-card class="item" [item]="item"></app-card>
        </ng-container>
      </div>
      <p-paginator [rows]="10" [totalRecords]="filteredProducts.length"></p-paginator>
    </div>
  </div>
</div>
