<div class="banner">
  <div class="banner__content">
    <h4 class="title">By the order of Peaky Blinders.<br/> Gentlemen's fashion, make you become a gentlemen</h4>
    <button class="p-button-rounded button-buy-now" routerLink="/shop"  pButton>Buy now</button>
  </div>
</div>
<div class="content">
  <div class="content__item item-1">
    <div  class="content__item__label">
      <h5 >Vest <br> collections 2022</h5>
      <a routerLink="/shop"  class="link">Shop now</a>
    </div>
    <div class="image-wrapper">
    <img src="../../../assets/collections/vest.jpg" width="300px">
  </div>

</div>
<div class="content__item item-2">
  <div class="image-wrapper">
  <img routerLink="/shop"  src="../../../assets/collections/pants.jpg" width="300px">
</div>
  <div  class="content__item__label">
    <h5 >Slacks <br> collections 2022</h5>
    <a class="link">Shop now</a>
  </div>
</div>
<div class="item-3">

  <div class="banner-image">
    <div class="wrapper">
    <h5>Accessories collections 2022</h5>
    <a routerLink="/shop" class="link">Shop now</a>
  </div>
  </div>
</div>
</div>

