<div class="cart" onscroll="onScroll()">
  <div class="banner">
    <h2 class="banner-title">Shopping cart</h2>
  </div>
  <div class="list-cart-item">
    <div *ngFor="let item of cart; let i = index" class="item">
      <app-cart-item   [item]="item" (removeElement)="remove($event,i)"></app-cart-item>
    </div>
    <div class="total">
    </div>
  </div>
  <div #sidebar [ngStyle]="{top:isSidebarSticky ? '0' : sidebarOffset+'px'}" [ngClass]="isSidebarSticky? 'sticky' :''" class="sidebar-container">
    <h2 class="title">Shopping cart detail</h2>
    <div class="detail-info">
      <!-- <ng-container *ngFor="let info of detailInfo" [ngSwitch]="info.id">
      <div class="info-item" >
        <div class="header">
          {{info.header}}:
        </div>
        <div *ngSwitchCase="'price'" class="content">
          ${{info.info}}
        </div>
        <div *ngSwitchDefault="" class="content">
          {{info.info}}
        </div>
      </div>
    </ng-container> -->
    <!-- <br>
    <div class="location">
      Full Name
      <input type="text" pInputText required />
    </div> -->
    <div class="location">
      Phone
      <input type="text" pInputText required   [(ngModel)]="phone" />
    </div>
    <div class="location">
      Address
      <input type="text" pInputText required [(ngModel)]="address" />
    </div>
    <div class="location">
      Total Price:
      <div>$ {{ this.totals}}</div>
    </div>
    <div class="actions">
      <button [disabled]="isDisabledOrder" (click)="onOrder()" pButton class="p-button order-btn" label="Order" ><span class="pi pi-shopping-cart"></span></button>
    </div>
  </div>

</div>
